$primaryBackground: rgb(30, 32, 44);
$secondaryBackground: rgb(46, 51, 65);
$tertiaryBackground: rgb(40, 42, 54);
$primaryAccentBackground: rgb(179, 137, 239);
$secondaryAccentBackground: rgb(56, 58, 89);
$tertiaryAccentBackground: rgb(104, 67, 155);
$primaryText: rgb(255, 255, 255);
$secondaryText: rgba(255, 255, 255, 0.66);
$borderColor: rgb(52, 54, 84);
$buttonTextColor: rgb(255, 255, 255);
$tertiaryText: rgb(100, 107, 132);
